<h1>Listing operation_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operation_types.each do |operation_type| %>
  <tr>
    <td><%= operation_type.name %></td>
    <td><%= link_to 'Show', operation_type %></td>
    <td><%= link_to 'Edit', edit_operation_type_path(operation_type) %></td>
    <td><%= link_to 'Destroy', operation_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operation type', new_operation_type_path %>
